.particle-container {
    margin-bottom: 22%;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Press Start 2P', cursive;
    color: wheat;
    padding: 30px;
}

.heading-primary {
    font-size: 5rem;
    margin-top: 15%;
}

.heading-secondary {
    padding-right: 15%;
    font-size: 3rem;
    text-align: right;
}

.loop-text {
    font-family: 'Source Code Pro', monospace;
    color: rgb(72, 255, 255);
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
}

@media only screen and (max-width: 1134px) {
    .heading-primary {
        font-size: 4rem;
    }

    .loop-text {
        font-size: 15px;
    }
}

@media only screen and (max-width:1323px) {
    .particle-container {
        margin-bottom: 0;
        padding-bottom: 38rem;
    }
}

@media only screen and (max-width:1025px) {
    .particle-container {
        margin-bottom: 0;
        padding-bottom: 27rem;
    }

    .heading-primary {
        font-size: 4rem;
    }

    canvas {
        height: 42rem !important;
    }

    .loop-text {
        font-size: 15px;
    }
}

@media only screen and (max-width:980px) {
    .particle-container {
        margin-bottom: 12%;
        padding-top: 0;
        padding-bottom: 27rem;
    }

    .heading-primary {
        font-size: 5rem;
        text-align: center;
        margin-top: 0;
    }

    .heading-secondary {
        padding-right: 0;
        font-size: 3rem;
        text-align: center;
    }

    canvas {
        height: 42rem !important;
    }

    .loop-text {
        font-size: 15px;
        text-align: center;
    }
}

@media only screen and (max-width:760px) {
    .particle-container {
        margin-bottom: 45%;
        padding-top: 0;
        padding-bottom: 27rem;
    }
}

@media only screen and (max-width:695px) {
    .particle-container {
        margin-bottom: 125%;
        padding-top: 0;
        padding-bottom: 27rem;
    }

    .heading-primary {
        font-size: 3rem;
    }
}